*,
html {
  scroll-behavior: smooth;
}

body {
  background-color: #effffe;
}

h1 {
  font-family: 'Exo 2', sans-serif;
  font-style: italic;
  font-weight: bold;
}

h2,
h3,
h4,
h5 {
  font-family: 'Exo 2', sans-serif;
}

.navbar {
  box-shadow: 2px 2px 5px #3292a6;
  opacity: 0.9;
  background: #eefffe;
}
.navbar .nav-item {
  font-size: 1.4rem;
  padding-right: 1.4rem;
}

#showcase {
  position: relative;
  background-image: url('../img/22.png');
  background-size: contain;
  height: 600px;
}

.showcase-text {
  position: relative; /* Position the background text */
  bottom: 0; /* At the bottom. Use top:0 to append it to the top */
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.6); /* Black background with 0.5 opacity */
  color: #f1f1f1; /* Grey text */
  width: 48em; /* Full width */
  padding: 20px; /* Some padding */
  border-radius: 15px 50px 30px 5px;
}

.showcase-button {
  position: bottom;
}

#showcase .primary-overlay {
  background: hsla(198, 17%, 15%, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

form {
  background: #22333b;
  color: white;
}
#mc_embed_signup_scroll {
  max-width: 50%;
  margin: auto;
}
.info-header {
  width: 50%;
  margin: auto;
  border-bottom: 1px #22333b solid;
}

#creators img {
  margin-top: -50px;
}
#creators .card:hover {
  background: #a3a7aa;
  color: #effffe;
}
#creators .fab {
  color: #22333b;
}

.mb-resp {
  margin-bottom: 1 rem;
}

#about .container .card {
  min-height: 150px;
  min-width: 150px;
}

#aboutHeading,
#creatorsHeading {
  color: #22333b;
  background: #effffe;
}

#about {
  color: #22333b;
}

#creators .card {
  background: #22333b;
  color: #effffe;
}

#creators .card:hover .creatorRole {
  color: #22333b;
}

#creators .card .creatorRole {
  color: #82e5de;
}

#main-footer {
  background: #a3a7aa;
}

#gradient-image {
  position: relative;
  min-height: 800px;
  background: url('../img/gradient1.png');
  background-size: contain;
  /* background-attachment: fixed;
  
  /* width: 100%; */
  background-repeat: no-repeat;
  height: auto;
  width: auto;
}
/* .showcase-img {
  margin-top: 30em;
  position: -webkit-sticky;
  position: sticky;
  top: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
} */

#sticky {
  margin-top: 10em;
  position: -webkit-sticky;
  position: sticky;
  top: 4rem;
}

.showcase-btn {
  background: #82e5de;
  color: #22333b;
}

.showcase-btn:hover {
  color: #82e5de;
  background: #22333b;
}
