body {
  margin-top: 105px;
  background-color: #effffe;
}

h1 {
  font-family: 'Exo 2', sans-serif;
  font-style: italic;
  font-weight: bold;
}

h2,
h3,
h4,
h5 {
  font-family: 'Exo 2', sans-serif;
}

.navbar {
  box-shadow: 2px 2px 5px #3292a6;
  opacity: 0.9;
  background: #eefffe;
}
.navbar .nav-item {
  font-size: 1.4rem;
  padding-right: 1.4rem;
}
#showcase {
  position: relative;
  background-image: url('../img/2.jpg');
  height: 600px;
}

#showcase .primary-overlay {
  background: rgba(32, 41, 45, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.info-header {
  width: 50%;
  margin: auto;
  border-bottom: 1px #82e5de solid;
}

#creators img {
  margin-top: -50px;
}
#creators .card:hover {
  background: #22333b;
  color: #fff;
}
#creators .fab {
  color: #82e5de;
}

.mb-resp {
  margin-bottom: 1 rem;
}

#about .container .card {
  min-height: 150px;
  min-width: 150px;
}

#aboutHeading,
#creatorsHeading {
  background: #22333b;
  color: #effffe;
}

#about {
  color: #20292d;
}

#creators .card {
  color: #20292d;
  background: #82e5de;
}

#creators .card:hover .creatorRole {
  color: #82e5de;
}

#creators .card .creatorRole {
  color: #20292d;
}

#main-footer {
  background: #20292d;
}

#gradient-image {
  position: relative;
  min-height: 900px;
  background: url('../img/4.png');
  background-size: cover;
  /* background-attachment: fixed;
  background-repeat: no-repeat; */
  text-align: center;
  color: #fff;
  height: 100%;
}
