body {
    margin-top: 105px;
}
.navbar {
    box-shadow: 2px 2px 5px rgb(13, 255, 0);
    opacity: 0.9;
    background: #FFF;
}
.navbar .nav-item{
     font-size: 1.4rem;
     padding-right: 1.4rem;

}
#showcase {
    position: relative;
    background-image: url('../img/music.jpg');
    height: 800px;
}

#showcase .primary-overlay {
    background: rgba(221, 234, 236, 0.5);
    position: absolute;
    top: 0;
    left:0;
    width:100%;
    height: 100%;

}
.info-header{
    width: 50%;
    margin: auto;
    border-bottom: 1px #DDD solid;
}

#creators img{
    margin-top: -50px;
}
#creators .card:hover{
    background: #ec6262;
    color: #FFF;
}
#creators .fab{
    color: #FFF;
}

.mb-resp {
    margin-bottom: 1 rem;
}

#about .card {
    margin: 0 auto
}

/* ---------------- */

.first-name-field:invalid {
    background-color: red;
  } 

.success-message {
    color: green;
    font-style: italic;
    margin-bottom: 1em;

}

